@mixin active-sides {
  display: block !important;
  margin: auto 0;
  cursor: pointer;
  .comment {
    p {
      font-size: 14px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

@media only screen and (min-width: 600px) {
  #comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $section-padding;
    h2 {
      margin: 50px 0;
    }
    .slogan-slider {
      display: grid;
      grid-template-columns: 2fr 4.5fr;
      column-gap: 200px;
      .slogan {
        p {
          font-size: 48px;
          font-weight: 500;
          span {
            color: $green;
          }
        }
        .navigation {
          width: 150px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 30px;
          i {
            @include flex-center;
            color: $green;
            width: 60px;
            height: 60px;
            border: 1px solid $green;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
      .slider {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        position: relative;
        .comment {
          width: 500px;
          margin-right: 150px;
          transition: all 0.5s ease;
          opacity: 0;
          position: absolute;
          transform: translateX(210%);
          p.writer {
            color: $green;
            font-weight: 500;
            font-size: 20px;
            width: 500px;
          }
          &.active {
            height: fit-content;
            opacity: 1;
            transform: translateX(0);
          }
          &.before-active {
            transform: translateX(-100%);
            @include active-sides();
            opacity: 0;
          }
          &.after-active {
            @include active-sides();
            transform: translateX(110%);
            opacity: 1;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $mobile-section-padding;
    h2 {
      margin: 20px 0;
    }
    #slider {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      position: relative;
      overflow: none;
      height: 300px;
      .slide {
        padding: 16px;
        border-radius: 16px;
        background-color: #ccc;
        display: none;
        transition: all 0.5s ease;
        position: absolute;
        opacity: 0;
        .person {
          p {
            font-weight: 500;
          }
        }
        &.active {
          width: 100%;
          height: fit-content;
          display: block !important;
          margin: 0 20px;
          margin-bottom: 20px;
          opacity: 1;
          background-color: $dutch-white;
          .comment {
            p {
              margin: 0;
            }
          }
        }
        &.before-active {
          transform: translateX(-150%);
          @include active-sides();
          display: none !important;
        }
        &.after-active {
          transform: translateX(150%);
          @include active-sides();
          display: none !important;
        }
      }
    }
  }
}
