@media only screen and (max-width: 600px) {
  #mobile-navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 60px;
    width: 100vw;
    height: 280px;
    background-color: $dutch-white;
    z-index: 3;
    transition: transform 0.5s ease;
    transform: translateX(-100vh);
    .links {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      margin: 20px auto;
      padding: 0;
      li {
        cursor: pointer;
        font-weight: 500;
        color: $dark-blue;
        transition: 0.4s ease;
        font-size: 18px;
        position: relative;
        margin: 3px 0;
        &::after {
          display: block;
          content: '';
          height: 2px;
          width: 0px;
          background-color: $light-blue;
          transition: width 0.3s ease;
        }
        &:hover {
          color: $light-blue;
          &::after {
            width: 100%;
          }
        }
      }
    }
    .login {
      @include flex-center;
      flex-direction: column;
      margin: auto;
      a {
        text-decoration: none;
        font-weight: 500;
      }
      .sign-btn {
        color: $light-blue;
        padding: 6px 16px;
        border-radius: 8px;
        font-size: 18px;
      }
      .reg-btn {
        //background-color: $dark-purple;
        background-color: $light-blue;
        padding: 6px 16px;
        border-radius: 8px;
        font-size: 18px;
        color: white;
      }
    }
  }
  .show {
    transform: translateX(0px);
  }
}

@media only screen and (min-width: 600px) {
  #mobile-navbar {
    display: none;
  }
}
