//$dark-blue : #151547;
$light-blue : #3065f5;
$dark-purple: #7608fa;
$light-purple: #B00FFA;
$light-grey: #fffa;
$dark-grey: #4E5D78;

$goldenrod: #d79922;
$vermillion: #efe2ba;
$dark-blue: #4056a1;
$dutch-white: #c5cbe3;

$section-padding: 20px 200px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}