* {
  font-family: "Poppins", sans-serif;
}

.getstart-btn {
  padding: 8px 16px;
  font-weight: 500;
  background-color: #09b451;
  outline: none;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  margin: 10px auto 0 0;
}
.getstart-btn i {
  margin-left: 5px;
  transition: 0.3s;
}
.getstart-btn:hover {
  color: white;
}
.getstart-btn:hover i {
  margin-left: 16px;
}

@media only screen and (min-width: 600px) {
  #navbar {
    width: 100%;
    padding: 40px 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 5;
  }
  #navbar .logo {
    width: 100px;
  }
  #navbar .logo img {
    width: 100%;
  }
  #navbar .links {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  #navbar .links li {
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    color: #4056a1;
    transition: 0.4s ease;
    font-size: 18px;
    position: relative;
  }
  #navbar .links li a {
    display: block;
    text-decoration: none;
    height: 100%;
  }
  #navbar .links li::after {
    display: block;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #09b451;
    transition: width 0.3s ease;
  }
  #navbar .links li:hover a {
    color: #09b451;
  }
  #navbar .links li:hover::after {
    width: 100%;
  }
  #navbar .login {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar .login a {
    text-decoration: none;
    font-weight: 500;
  }
  #navbar .login .sign-btn {
    color: #09b451;
    padding: 6px 16px;
    border-radius: 8px;
    font-size: 18px;
  }
  #navbar .login .reg-btn {
    background-color: #09b451;
    padding: 6px 16px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
  }
  #navbar i.fas.fa-bars {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  #navbar {
    width: 100vw;
    padding: 20px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 5;
  }
  #navbar .logo {
    width: 100px;
  }
  #navbar .logo img {
    width: 100%;
  }
  #navbar .links {
    display: none;
  }
  #navbar .login {
    display: none;
  }
  #navbar i.fas.fa-bars {
    display: block;
    color: #4056a1;
    font-size: 24px;
    cursor: pointer;
  }
}
.scrolled {
  padding: 20px 200px !important;
  background-color: white;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 600px) {
  #mobile-navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 60px;
    width: 100vw;
    height: 280px;
    background-color: #c5cbe3;
    z-index: 3;
    transition: transform 0.5s ease;
    transform: translateX(-100vh);
  }
  #mobile-navbar .links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding: 0;
  }
  #mobile-navbar .links li {
    cursor: pointer;
    font-weight: 500;
    color: #4056a1;
    transition: 0.4s ease;
    font-size: 18px;
    position: relative;
    margin: 3px 0;
  }
  #mobile-navbar .links li::after {
    display: block;
    content: "";
    height: 2px;
    width: 0px;
    background-color: #ddffff;
    transition: width 0.3s ease;
  }
  #mobile-navbar .links li:hover {
    color: #ddffff;
  }
  #mobile-navbar .links li:hover::after {
    width: 100%;
  }
  #mobile-navbar .login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
  #mobile-navbar .login a {
    text-decoration: none;
    font-weight: 500;
  }
  #mobile-navbar .login .sign-btn {
    color: #ddffff;
    padding: 6px 16px;
    border-radius: 8px;
    font-size: 18px;
  }
  #mobile-navbar .login .reg-btn {
    background-color: #ddffff;
    padding: 6px 16px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
  }
  .show {
    transform: translateX(0px);
  }
}
@media only screen and (min-width: 600px) {
  #mobile-navbar {
    display: none;
  }
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eee !important;
}

@media only screen and (min-width: 600px) {
  .logo {
    width: 100px;
    position: absolute;
    top: 30px;
    left: 80px;
  }
  .logo img {
    width: 100%;
  }
  .circle {
    width: 30vw;
    border-radius: 50%;
    background-color: #09b451;
    position: absolute;
  }
  #right-top {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }
  #left-bottom {
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
  }
  h2 {
    margin: 20px 0 !important;
    color: #030303;
  }
  form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 14px;
    width: 500px;
  }
  form input:not(input[type=button]) {
    padding: 8px 16px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
  }
  form input[type=submit] {
    background-color: #09b451;
    padding: 8px 16px;
    border-radius: 8px;
    color: #fff;
    border: none;
    outline: none;
    font-weight: 500;
  }
  form p {
    margin: 16px 0;
    text-align: center;
  }
  form p a {
    font-weight: 500;
    text-decoration: none;
  }
}/*# sourceMappingURL=logins.css.map */